/* Add your custom styles here */
.btn-block {
    margin-top: 10px; /* Adjust the margin as needed */
  }

  /* Style for the modal */
  .modal-content {
    max-width: 600px;
    margin: auto;
  }

  /* Style for table */
  .table {
    margin-top: 20px;
  }

  .table thead th {
    background-color: #343a40; /* Dark color */
    color: #fff;
    border-color: #343a40;
  }

  .table tbody tr:hover {
    background-color: #f5f5f5;
  }

  .status-cell {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
  }

  .status-active {
    color: #28a745;
    background-color: rgba(40, 167, 69, 0.2);
  }

  .status-inactive {
    color: #dc3545;
    background-color: rgba(220, 53, 69, 0.2);
  }

  .btn-edit,
    .btn-delete {
      margin-right: 5px; /* ปรับระยะห่างที่คุณต้องการ */
    }

    .cat-image {
      max-width: 70px;
      max-height: 100px;
      width: auto;
      height: auto;
      border-radius: 0;
    }

    .status-cell.status-ready {
      color: white;
      background-color: #42bd41
    }
    
    .status-cell.status-not-ready {
      color: white;
      background-color: #e84e40;
    }

    #phoneNumberForm {
      margin-bottom: 20px; /* ปรับขนาดตามที่คุณต้องการ */
    }

    tr {
      height: 50px; /* ปรับขนาดของแถวเป็น 50px */
  }
  